@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;800;900&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Biryani', sans-serif;
}

/* --------------------------------- CSS HEADER ------------------------------------*/ 

.contenu_header {
    background-color: black;
    color: white;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_logo{
    width: 15%;
    padding: 30px;
}

.img_logo img {
    width: 100% ; 
}

.contenu_header ul {
    display: flex;
    list-style: none;
}

.contenu_header li {
    padding: 15px 30px ;
}

/* --------------------------------- CSS SECTION 1 ------------------------------------*/ 

.contenu_telecharge_spotify {
    text-align: center;
    padding: 20px;
}

.logo_playstore {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    margin: auto;
}   

.logo_playstore div {
    width : 50% ; 
    padding: 10px;
}

.logo_playstore div img {
    width: 100%;
}

.contenu_telecharge_spotify h1 {
    padding : 50px ;
    font-size: 2.6em;
}

.contenu_telecharge_spotify p {
    padding : 20px  ;
    font-weight: 900;
}

/* --------------------------------- CSS SECTION 2 et 3 ------------------------------------*/ 

.contenu_section_slogan {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(30, 215, 96);
}

.contenu_section_slogan div {
    width : 50% ; 
}

.img_slogan div{
    font-size: 0;
    width: 100%;
}
.contenu1 {
    background-image: url("images/james-stamler-k3heD_KwH0A-unsplash.jpg");
}
.img_slogan {
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.img_slogan h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.253);
    color: rgb(0, 0, 0);
    height: 100%;
    padding-top: 150px;
    font-size: 2em;
    text-transform: uppercase;
    opacity: 0;
}

.img_slogan h1:hover {
    opacity: 1;
    cursor: pointer;
}

#section_slogan1 {
    margin: 20px auto;
}

.contenu2 {
    background-image: url(images/Mockup1.jpg);
}

.slogan {
    padding: 20px ;
}
.slogan2 {
    color: white;
    background-color: rgb(0, 0, 0);
}

.slogan1 {
    color: black ;
    background-color: rgba(255, 255, 255,0.5); 
}

.slogan h1,p{
    padding: 20px;
}

.slogan h1{
    font-weight: 900;
    font-size: 2em;
    
}


/* --------------------------------- CSS SECTION 4 ------------------------------------*/ 

.contenu_pictogramme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.vignette {
    width: 20%;
    padding: 10px;
    margin : 10px 20px ; 
    text-align: center;
}

.vignette img {
    width: 100% ; 
}

.contenu_pictogramme div div {
    width : 50% ; 
    margin : auto ;
}