@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px ; 
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

 /* ----------------------------CSS HEADER -------------------------------------*/

.contenu_header {
    background-color: rgb(255, 255, 255);
    color: #44b8b1 ; 
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.img_logo{
    width: 10%;
    padding: 0px 10px;
}

.img_logo img {
    width: 100% ; 
}

.contenu_header ul {
    display: flex;
    list-style: none;
    padding: 20px;
}

.contenu_header li {
    padding: 10px ;
    margin: 0px 10px ; 
}

.contenu_header li:hover { 
    cursor: pointer;
    border-bottom: 2px solid #44b8b1 ;
}

/* ----------------------------CSS SECTION 1 -------------------------------------*/

#telecharge_deliveroo {
    width: 100%;
    background-color: #44b8b0c5;
    padding: 20px;
}
.contenu_telecharge_deliveroo {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 2em;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
}

.applis {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40% ; 
    display: flex;
    justify-content: center;
}

.img_store {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50% ; 
}
.applis p {
    width: 50% ; 
}
.applis img {
    width: 100%;
}

.logo img {
    width: 100%;
}

.logo div{
    width : 20% ; 
}

/* ----------------------------CSS SECTION 2 (GALERIE) -------------------------------------*/

#galerie {
    background-color: #fde9e4;
    padding: 30px;
}

.contenu_galerie {
    width :95% ; 
    margin: auto;
}

.galerie_vignette {
    display: flex ; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.vignette {
    width: 30% ; 
}

.vignette div img {
    width:100%  ;
}

.vignette div,p,h1 {
    width: 90%; 
    margin: auto;
}

#slogan{
    font-size: 2.6vw;
    padding: 20px;
    
}

/* ----------------------------CSS SECTION 3 (PHOTO TEL) -------------------------------------*/

.contenu_photo_tel {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.contenu_photo_tel > div {
    width : 50% ; 
}

.sreenshoot img {
    width: 100%;
}

.texte form {
    display: flex;
    justify-content: center;
}

button {
    color : #44b8b0c5 ; 
    background-color: white;
    padding: 10px;
    border: 3px #44b8b0 solid ; 
    text-transform: uppercase;
    font-weight: 700;
    margin: 5px;
}   

button:hover {
    background-color:#44b8b0 ;
    color: white;
    cursor: pointer;
}

.texte h1,.texte p {
    padding: 10px;
}

.texte h1 {
    font-size: 2vw;
  
}

.screenshoot div{
    height: 100%;
    font-size: 0;
}
/* ----------------------------CSS SECTION 4 (RS) -------------------------------------*/

.contenu_rs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_rs {
    display: flex;
    justify-content: center;
    width: 13% ;
    padding: 20px; 
}

.logo_rs div img{
    width: 100%;
}

.logo_rs div {
    width: 100%;
    padding: 10px;
}